html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}


i{
	padding: 8px 3px;
}

#gender{
	padding: 8px 1px;
}
.errors {
  position: relative;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}


@media only screen and (max-width: 600px) {
  img {
   max-width: 250px  !important;
  }
}
