{%  extends 'seApp/main_mail_template.html' %}
{%block content%}

                        <p>Hi there,</p>
                        <p>Your appointment is booked successfully! Check it out in appointments manager</p>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href="https://seapp-ainshams.herokuapp.com/user/appointment" target="_blank">Appointments Manager</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>Good luck!</p>
{% endblock %}