{%  extends 'seApp/main.html' %}
{%block content%}

<body>
  <div class="bg-light py-2 mt-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if app %}
        <div class="col-12 col-md-12">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h5 class="text-center mb-5">Appointment {{app.id}}</h5>
                  </div>
                  <div class="col-4">
                    <p class="card-text h6">Appointment date:</p>
                    <p class="card-text h6">Appointment review:</p>
                  </div>
                  <div class="col-8">
                    <p class="card-text">{{app.time_slot}}</p>
                    <p class="card-text">{{app.review}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% else %}
        <p>Appointment not found</p>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="bg-light py-2 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if app %}
        <div class="col-12 col-md-12">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <h5 class="text-center mb-5">Patient Profile</h5>
                <div class="row">
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Name:</p>
                    <p class="card-text h6">Gender: </p>
                    <p class="card-text h6">Phone: </p>
                    <p class="card-text h6">Email: </p>
                    <p class="card-text h6">Birthdate: </p>
                    <p class="card-text h6">Medical history: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.name}}</p>
                    <p class="card-text">{{patient.user.gender}}</p>
                    <p class="card-text">{{patient.user.phone}}</p>
                    <p class="card-text">{{patient.user.email}}</p>
                    <p class="card-text">{{patient.user.birth_date}}</p>
                    {% for medical_history in patient.medical_history %}
                      <p class="card-text">{{medical_history}}</p>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="bg-light py-2 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if app %}
        <div class="col-12 col-md-12">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <h5 class="text-center mb-5">Prescription</h5>
                <form action="/doctor/appointment/{{app.id}}" method="POST" >
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.prescription }}
                  </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-outline-primary btn-md mt-3">Update</button>
                </div>
                </form>
              </div>
            </div>
          </div>
      {% else %}
        <p>Appointment not found</p>
      {% endif %}
      </div>
    </div>
  </div>
  </main>
  
  </body>
{%endblock%}

