{%  extends 'seApp/main.html' %}
{%block content%}
<div class="col-12 col-md-12">
  <div class="bg-light py-2 mt-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if app %}
        <div class="col-12 col-md-12">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h5 class="text-center mb-5">Appointment {{app.id}}</h5>
                  </div>
                  <div class="col-4">
                    <p class="card-text h6">Date:</p>
                    <p class="card-text h6">Review:</p>
                    <p class="card-text h6">Status:</p>
                  </div>
                  <div class="col-8">
                    <p class="card-text">{{app.time_slot}}</p>
                    <p class="card-text">{{app.review}}</p>
                    {% if app.status == 'Pending' %}
                    <p class="card-text text-warning"> {{app.status}}</p>
                    {% elif app.status == 'Cancelled'%}
                    <p class="card-text text-danger"> {{app.status}}</p>
                    {% elif app.status == 'Paid'%}
                    <p class="card-text text-info"> {{app.status}}</p>
                    {% else %}
                    <p class="card-text text-success"> {{app.status}}</p>
                    {% endif %}
                  </div>
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal"
                  style="margin-right:50px ;">
                  Edit
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal"
                  style="margin-left: 50px;">
                  Cancel
                </button>
                </div>
              </div>
            </div>
          </div>
      {% else %}
        <p>Appointment not found</p>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="bg-light py-2 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if app %}
        <div class="col-12 col-md-12">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <h5 class="text-center mb-5">Patient Profile</h5>
                <div class="row">
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Name:</p>
                    <p class="card-text h6">Gender: </p>
                    <p class="card-text h6">Phone: </p>
                    <p class="card-text h6">Email: </p>
                    <p class="card-text h6">Birthdate: </p>
                    <p class="card-text h6">Medical history: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.name}}</p>
                    <p class="card-text">{{patient.user.gender}}</p>
                    <p class="card-text">{{patient.user.phone}}</p>
                    <p class="card-text">{{patient.user.email}}</p>
                    <p class="card-text">{{patient.user.birth_date}}</p>
                    {% for medical_history in patient.medical_history %}
                      <p class="card-text">{{medical_history}}</p>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="bg-light py-2 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-12 col-md-12">
            <div class="card p-5 shadow-md m-2">
              <div class="card-body">
                <h5 class="text-center mb-5">Prescription</h5>
                <form action="{% url 'seApp:PostPrescription' app_id=app.id%}" method="POST">
                  {% csrf_token %}
                      <div class="form-group">
                          <label for="newMed">Add Medication</label>
                          <input type="text" class="form-control" name="newMedication" required id="newMed">
                      </div>
                      <div class="text-center mt-2 mb-3">
                      <button class="btn btn-outline-primary btn-md">Add Medication</button>
                      </div>
                </form>
               <table class="table table-hoverable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Medication</th>
                            <th scope="col"></th>
                            <th scope="col">Delete</th>
                        </tr>
                        <tbody>
                            {% for medication in app.prescription %}
                            <tr>
                            <th scope="row">{{forloop.counter}}</th>
                              <td colspan="2">{{medication}}</td>
                                <td>
                                  <form action="{% url 'seApp:DeletePrescription' app_id=app.id%}" method="POST">
                                  {% csrf_token %}
                                  <input type="hidden" name="deletedMedication" value="{{medication}}">
                                  <button class="btn btn-danger btn-sm">Delete</button>
                                </form>
                              </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Choose another appointment date
        </div>
        <div class="modal-body">
          <form action="{% url 'seApp:postAppointment' app_id=app.id%}" method="POST">
            {% csrf_token %}
            <select name="newTimeSlot" id="panel" class="form-control custom-select">
              {% for timeSlot in app.doctor.time_slots %}
              <option value="{{forloop.counter0}}">{{timeSlot}}</option>
              {% endfor %}
            </select>
            <button type="submit" id="book" class="mt-2 btn btn-outline-success "
              style="margin-left: 220px;" name="edit">Replace</button>
            <a href="" class="btn btn-outline-primary btn-md"
              style="margin-top : 8px; margin-left: 10px;">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to cancel appointment
            {{app.doctor.specialization}} ? </h5>
        </div>
        <div class="modal-body">
          An ammount of {{app.doctor.fees}} will be returned to you.
        </div>
        <div class="modal-footer">
          <form action="{% url 'seApp:deleteAppointment' app_id=app.id%}" method="POST" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-md mt-3"
              name="cancel">Yes</button>
            <a href="" class="btn btn-outline-primary btn-md"
              style="margin-top : 16px; margin-left: 10px;">Cancel</a>
        </div>
        </form>
      </div>
    </div>
  </div>
{%endblock%}
