{%  extends 'seApp/main.html' %}
{%block content%}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Appointment Manager</h1>
      </div>
    </div>
  </section>

  <div class="bg-light py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if app_list %}
        {% for app in app_list %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <h5 class="text-center mb-5">Appointment {{app.id}}</h5>
                <p class="card-text">Appointment date: {{app.time_slot}}</p>
                <p class="card-text">Appointment review: {{app.review}}</p>
                <div class="text-center">
                <a href="/doctor/appointment/{{app.id}}" class="btn btn-outline-primary btn-md">See details</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No appoinments available</p>
      {% endif %}
      </div>
    </div>
  </div>

</main>
{%endblock%}