{%  extends 'seApp/main.html' %}
{%block content%}
  <body>
    
      <div class="col-12 bg-light">
        <div class="container-fluid">
          <div class="text-center mt-5">
          <h3>Browse Doctors</h3>
          <button class="btn btn-primary m-4" onclick="viewFilters()">Filter</button>
        </div>
          
          <div id="filterForm" hidden>

          
          <form  method="GET">
            {{myFilter.form}}
            <div class="text-center">
            <button class="btn btn-outline-success m-3" type="submit">Search</button></div>
          </form>
        </div>
        </div>
      </div>
    
      <br>

      <div class="row">
        {% for doctor in doctors %}
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
              <h5 class="card-title">{{doctor.user}}</h5>
              <p class="card-text">{{doctor.description}}</p>
            </div>
              <div class="text-center">
              <a href="view-doctor/{{doctor.id}}" class="btn btn-primary text-center">View</a>
            </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>      
      <script>
        document.getElementById('id_user__first_name').classList.add('form-control')
        document.getElementById('id_user__last_name').classList.add('form-control')
        document.getElementById('id_specialization').classList.add('form-control')
        document.getElementById('id_clinic__name').classList.add('form-control')
        document.getElementById('id_clinic__address').classList.add('form-control')
        document.getElementById('id_fees').classList.add('form-control')

        function viewFilters() {
          const filterDiv = document.getElementById('filterForm')
          if (filterDiv.hidden == true){
            filterDiv.hidden = false
          } else {
            filterDiv.hidden = true
          }
        }

      </script>
  </body>
  {%endblock%}
