{%  extends 'seApp/main.html' %}
{%block content%}

<body>
    <div class="container mt-5">
        <h2 class="text-center">Change Password</h2>
        {% if messages %}
            {% for message in messages %}
                <p class="errors alert-danger mb-2 mt-3"> {{ message }}</p>
            {% endfor %}
        {% endif %}
        <form action="/accounts/change_password" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success float-right">Update Password</button>
        </form>
    </div>
</body>

<script>
    document.getElementById('id_old_password').classList.add('form-control')
    document.getElementById('id_new_password1').classList.add('form-control')
    document.getElementById('id_new_password2').classList.add('form-control')
</script>

{% endblock %}