{%  extends 'seApp/main.html' %}

   {% block content%}
   <div class="bg-light p-5 rounded-lg m-3">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <h1>This is a home page</h1>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>


    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>


    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis veniam dolorem tempora officiis commodi nostrum dolores ab ipsa eveniet quo ducimus enim dolor totam architecto non sapiente, vitae id nemo.</p>
    <div style="height:1000px">

    </div>
   {%endblock%}
