{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>seApp | Home</title>
    <link rel="icon" href="{% static '/images/seLogoBlueRound.png' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i%7CPoppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap of the homepage-->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/bootstrap.min.css' %}">
    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/font-awesome.min.css' %}">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/style.css' %}">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/responsive.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <style>
      @media only screen and (min-width: 600px) {
        .landingPics {
          max-width: 500px  !important;
        }
      }
    </style>
  </head>

  <body>
      <div class="box-layout">
        <div class="mobile-menu-area">
          <div class="close">
            <i class="fa fa-close"></i>
          </div>
          <div class="mobile-menu">
            <ul class="m-menu"> 
              <li><a href="{% url 'seApp:loginpage' %}">Log in</a></li>
              <li><a href="{% url 'seApp:register' %}">Register</a></li>
            </ul>
          </div>
        </div>
      </div>

      <header class="header-six header-seven">
        <nav class="main-menu menu-eight menu-fixed">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#main"><img src="{% static '/images/seLogoWhite.png' %}" alt="logo" class="img-responsive" style="max-width: 100px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- <ul class="header-cart-ticket-option pull-right">
                <li><a href="ticket.html" class="menu-button">Log in</a></li>
              </ul> -->
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'seApp:loginpage' %}" class="menu-button">Log in</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'seApp:register' %}" class="menu-button">Register</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
      </header>


       <!-- banner start here-->
      <section class="banner banner-newyork" style="background-image: url('{% static '/images/landing-bg.jpg' %}');" id="main">
        <div class="banner-overlay">
          
          <div class="banner-content-area">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="seven-content-left">
                    <div class="content">
                      <h2 data-aos="fade-up" data-aos-duration="1000">Best Healthcare Platform</h2>
                      <p data-aos="fade-up" data-aos-duration="1200">seApp</p>
                    </div>
                  </div><!-- content-left -->
                </div>
                <!-- <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="seven-content-right-bg">
                    <div class="seven-content-right">
                      <div class="hexagon-box">
                        <div class="countdown-box">
                            <ul id="countdown" class="countdown">
                              <li class="clock-item"><span class="count-number days">00</span><p class="days_text count-text">Days</p></li>
                              
                              <li class="clock-item"><span class="count-number hours">00</span><p class="hours_text count-text">Hours</p></li>
                              
                              <li class="clock-item"><span class="count-number minutes">00</span><p class="minutes_text count-text">Min</p></li>
                              
                              <li class="clock-item"><span class="count-number seconds">00</span><p class="seconds_text count-text">Sec</p></li>
                            </ul>
                          </div>
                      </div>
                    </div><!-content-right -->
                  <!-- </div> content-right bg -->
                <!-- </div>  --> 
              </div><!-- row -->

              
              
            </div><!-- banner-content -->
          </div><!-- container-->
        </div><!-- overlay -->
      </section>
      <!-- banner end here -->



      <!-- About start here -->
      <section class="about about-eight padding-120">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="image" data-aos="zoom-out" data-aos-duration="1500">
                         
                          <img src="{% static '/images/seLogoBlack.png' %}" alt="about iamge">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="content">
                          <div class="section-header">
                              <h2 class="text-center" data-aos="fade-up" data-aos-duration="1000">Join us right now</h2>
                              <p class="text-center" data-aos="fade-up" data-aos-duration="1500"><i >your best healthcare option</i></p>
                          </div>
                          <ul class="about-button" data-aos="fade-up" data-aos-duration="1500">                            
                            <li><a href="{% url 'seApp:register' %}" class="default-button">Join Now</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <!-- container -->
      </section>
      <!-- About end here -->


      <!-- gallery start here -->
      <section class="gallery gallery-two gallery-uhv padding-60" style="background-color:lightgrey;">
        <div class="container">
          <div class="section-header text-center">
            <h2 style="color:#0131FF; padding-top: 90px;" data-aos="fade-up" data-aos-duration="1000">Our Features For Patients</h2>
            
          </d iv>

          <div class="section-wrapper" style="margin-top: 100px;"> 
            
            <div class="row">
              <div class="col-lg-7 col-12 pull-right " style="transform: translateY(50%); margin-bottom: 200px;">
                <h3 data-aos="fade-left" data-aos-duration="800" class="pull-right">browse and Book <br> appointments with our  <br>top rated doctors with ease </h3>
                
                
              </div>
              <div class="col-lg-5 col-12 pull-left" >
                <img  data-aos="fade-right" data-aos-duration="800" src="https://ik.imagekit.io/l5sayia1xw/seApp/browsePatient_jdg8pJoGwtibA.PNG"  class="img-responsive landingPics" style="max-width: 350px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </div>
            </div>
           
              <div class="row">
                <div class="col-lg-7 col-12 pull-left" style="transform: translateY(50%);  margin-bottom: 200px;">
                  <h3  data-aos="fade-right" data-aos-duration="1100" class="pull-left">Review, rate 
                    your <br> experience and view <br> your Prescriptions<br> all in one page</h3>
                  
                  
                </div>
                <div class="col-lg-5 col-12 pull-right" >
                  <img  data-aos="fade-left" data-aos-duration="1100" src="https://ik.imagekit.io/l5sayia1xw/seApp/ratePatient_EVYWG836ltS1I.PNG" class="img-responsive landingPics" style="max-width: 350px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7 col-12 pull-right" style="transform: translateY(50%);  margin-bottom: 200px;">
                  <h3  data-aos="fade-left" data-aos-duration="1400" class="pull-right">Easily update your<br> medical history for <br>accurate Prescriptions</h3>
                  
                  
                </div>
                <div class="col-lg-5 col-12 pull-left" >
                  <img  data-aos="fade-right" data-aos-duration="1400" src="https://ik.imagekit.io/l5sayia1xw/seApp/profilePatient_yHbbyfdL1hyUK.PNG" class="img-responsive landingPics" style="max-width: 350px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="gallery gallery-two gallery-uhv padding-120">
        <div class="container">
          <div class="section-header text-center">
            <h2 style="color:#0131FF;" data-aos="fade-up" data-aos-duration="1000">Our Features For Doctors</h2>
            
          </d iv>

          <div class="section-wrapper" style="margin-top: 100px;"> 
            
            <div class="row">
              <div class="col-lg-7 col-12 pull-right" style="transform: translateY(50%);  margin-bottom: 200px;">
                <h3  data-aos="fade-left" data-aos-duration="800" class="pull-right">manage all your<br> appointments from <br> one page </h3>
                
                
              </div>
              <div class="col-lg-5 col-12 pull-left" data-aos="fade-right" data-aos-duration="800" >
                <img src="https://ik.imagekit.io/l5sayia1xw/seApp/appointmentManager_LMd7EmuKq6na.PNG" class="img-responsive landingPics" style="max-width: 350px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </div>
            </div>
            
            <div class="row" style="margin-top: 50px;">
              <div  data-aos="fade-right" data-aos-duration="1200" class="col-lg-7 col-12 pull-left">
                <h3  class="pull-left" style="transform: translateY(50%);  margin-bottom: 200px;">easily Manage your fees,<br> Medical details and <br> timeslots </h3>
                
              </div>
              <div class="col-lg-5 col-12 pull-right" >
                <img  data-aos="fade-left" data-aos-duration="1200" src="https://ik.imagekit.io/l5sayia1xw/seApp/servicesManager_KT7-OnGxmQf6.PNG" class="img-responsive landingPics" style="max-width: 350px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </div>
            </div>
            <div class="row" style="margin-top: 50px;">
              <div  data-aos="fade-left" data-aos-duration="1400" class="col-lg-7 col-12 pull-right">
                <h3 class="pull-right" style="transform: translateY(50%);  margin-bottom: 200px;">Access All your <br>patients with a click of <br> a button </h3>
                
              </div>
              <div class="col-lg-5 col-12 pull-left" >
                <img  data-aos="fade-right" data-aos-duration="1400" src="https://ik.imagekit.io/l5sayia1xw/seApp/patientDoctor_TLB1IGXkwJRgk.PNG" class="img-responsive landingPics" style="max-width: 350px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer Start here -->
      <footer class="footer-six" >
        <div class="overlay" style="background-color: black;">
          <div class="container">
            <h2>seApp</h2>
            <ul class="event-social">
              <li><a target="_blank" href="https://github.com/AmrAhmed11/Software-Engineering-Project/tree/master/seProject" style="background-color: ivory;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></a></li>
              
            </ul>
            <p>Copyrights &copy; 2021.</a></p>
          </div>
        </div>
      </footer>
      <!-- Footer End here -->
    </div>


    <!-- jQuery -->
    <script src="{% static '/assets/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static '/assets/js/jquery-migrate-1.4.1.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    

    <!--Swiper-->
    <script src="{% static '/assets/js/swiper.jquery.min.js' %}"></script>
    <!--Masonry-->
    <script src="{% static '/assets/js/masonry.pkgd.min.js' %}"></script>
    <!--Lightcase-->
    <script src="{% static '/assets/js/lightcase.js' %}"></script>
    <!--modernizr-->
    <script src="{% static '/assets/js/modernizr.js' %}"></script>

    <!--velocity-->
    <script src="{% static '/assets/js/velocity.min.js' %}"></script>

    <!--quick-view-->
    <script src="{% static '/assets/js/quick-view.js' %}"></script>

    <!--nstSlider-->
    <script src="{% static '/assets/js/jquery.nstSlider.js' %}"></script>
    <script src="{% static '/assets/js/nstfunctions.js' %}"></script>

    <!--flexslider-->
    <script src="{% static '/assets/js/flexslider-min.js' %}"></script>
    <script src="{% static '/assets/js/flexfunctions.js' %}"></script>

    <!--directional-->
    <script src="{% static '/assets/js/directional-hover.js' %}"></script>

    <!--easing-->
    <script src="{% static '/assets/js/jquery.easing.min.js' %}"></script>

    <!-- parallax.js -->
    <script src="{% static '/assets/js/parallax.js' %}"></script>
    <script src="{% static '/assets/js/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom -->
    <script src="{% static '/assets/js/custom.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>