{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>seApp</title>
    <link rel="icon" href="{% static '/images/seLogoBlueRound.png' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i%7CPoppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap of the homepage-->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/bootstrap.min.css' %}">
    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/font-awesome.min.css' %}">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/style.css' %}">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/responsive.css' %}">
  </head>

  <body>
      <div class="box-layout">
        <div class="mobile-menu-area">
          <div class="close">
            <i class="fa fa-close"></i>
          </div>
          <div class="mobile-menu">
            <ul class="m-menu"> 
              <li><a href="#">Log in</a></li>
              <li><a href="#">Register</a></li>
            </ul>
          </div>
        </div>
      </div>

      <header class="header-six header-seven">
        <nav class="main-menu menu-eight menu-fixed">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#main"><img src="{% static '/images/seLogoWhite.png' %}" alt="logo" class="img-responsive" style="max-width: 100px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- <ul class="header-cart-ticket-option pull-right">
                <li><a href="ticket.html" class="menu-button">Log in</a></li>
              </ul> -->
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'seApp:loginpage' %}" class="menu-button">Log in</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'seApp:register' %}" class="menu-button">Register</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
      </header>


       <!-- banner start here-->
      <section class="banner banner-newyork" style="background-image: url('{% static '/images/landing-bg.jpg' %}');" id="main">
        <div class="banner-overlay">
          <img src="{% static '/images/landing-bg.png' %}" alt="about iamge">
          <div class="banner-content-area">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="seven-content-left">
                    <div class="content">
                      <h2>Best Healthcare Platform</h2>
                      <p>seApp</p>
                    </div>
                  </div><!-- content-left -->
                </div>
                <!-- <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="seven-content-right-bg">
                    <div class="seven-content-right">
                      <div class="hexagon-box">
                        <div class="countdown-box">
                            <ul id="countdown" class="countdown">
                              <li class="clock-item"><span class="count-number days">00</span><p class="days_text count-text">Days</p></li>
                              
                              <li class="clock-item"><span class="count-number hours">00</span><p class="hours_text count-text">Hours</p></li>
                              
                              <li class="clock-item"><span class="count-number minutes">00</span><p class="minutes_text count-text">Min</p></li>
                              
                              <li class="clock-item"><span class="count-number seconds">00</span><p class="seconds_text count-text">Sec</p></li>
                            </ul>
                          </div>
                      </div>
                    </div><!-content-right -->
                  <!-- </div> content-right bg -->
                <!-- </div>  --> 
              </div><!-- row -->

              
              
            </div><!-- banner-content -->
          </div><!-- container-->
        </div><!-- overlay -->
      </section>
      <!-- banner end here -->



      <!-- About start here -->
      <section class="about about-eight padding-120">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="image">
                         
                          <img src="{% static '/images/seLogoBlack.png' %}" alt="about iamge">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="content">
                          <div class="section-header">
                              <h2 class="text-center">Join us right now</h2>
                              <p class="text-center"><i >your best healthcare option</i></p>
                          </div>
                          <ul class="about-button">                            
                            <li><a href="{% url 'seApp:register' %}" class="default-button">Join Now</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <!-- container -->
      </section>
      <!-- About end here -->


      <!-- gallery start here -->
      <section class="gallery gallery-two gallery-uhv padding-60" style="background-color:lightgrey;">
        <div class="container">
          <div class="section-header text-center">
            <h2 style="color:#0131FF; padding-top: 90px;">Our Features For Patients</h2>
            
          </d iv>

          <div class="section-wrapper" style="margin-top: 100px;"> 
            
            <div class="row">
              <div class="col-6 pull-right" style="transform: translateY(50%);">
                <h3 class="pull-left">browse and Book <br> appointments with our  <br>top rated doctors with ease </h3>
                
                
              </div>
              <div class="col-6 pull-left" >
                <img src="{% static '/images/ss/browsePatient.png' %}" alt="logo" class="img-responsive" style="max-width: 500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </div>
            </div>
           
              <div class="row">
                <div class="col-6 pull-left" style="transform: translateY(50%);">
                  <h3>Review, rate 
                    your <br> experience and view <br> your Prescriptions<br> all in one page</h3>
                  
                  
                </div>
                <div class="col-6 pull-right" >
                  <img src="{% static '/images/ss/ratePatient.png' %}" alt="logo" class="img-responsive" style="max-width: 500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                </div>
              </div>
              <div class="row">
                <div class="col-6 pull-right" style="transform: translateY(50%);">
                  <h3>Easily update your<br> medical history for <br>accurate Prescriptions</h3>
                  
                  
                </div>
                <div class="col-6 pull-left" >
                  <img src="{% static '/images/ss/profilePatient.png' %}" alt="logo" class="img-responsive" style="max-width: 500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="gallery gallery-two gallery-uhv padding-120">
        <div class="container">
          <div class="section-header text-center">
            <h2 style="color:#0131FF;">Our Features For Doctors</h2>
            
          </d iv>

          <div class="section-wrapper" style="margin-top: 100px;"> 
            
            <div class="row">
              <div class="col-6 pull-right" style="transform: translateY(50%);">
                <h3 class="pull-left">manage all your<br> appointments from <br> one page </h3>
                
                
              </div>
              <div class="col-6 pull-left" >
                <img src="{% static '/images/ss/appointmentManager.png' %}" alt="logo" class="img-responsive" style="max-width: 500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </div>
            </div>
            
            <div class="row" style="margin-top: 50px;">
              <div class="col-6 pull-left">
                <h3 class="pull-left" style="transform: translateY(50%);">easily Manage your fees,<br> Medical details and <br> timeslots </h3>
                
              </div>
              <div class="col-6 pull-right" >
                <img src="{% static '/images/ss/servicesManager.png' %}" alt="logo" class="img-responsive" style="max-width: 500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </div>
            </div>
            <div class="row" style="margin-top: 50px;">
              <div class="col-6 pull-right">
                <h3 class="pull-left" style="transform: translateY(50%);">Access All your <br>patients with a click of <br> a button </h3>
                
              </div>
              <div class="col-6 pull-left" >
                <img src="{% static '/images/ss/patientDoctor.png' %}" alt="logo" class="img-responsive" style="max-width: 500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer Start here -->
      <footer class="footer-six">
        <div class="overlay">
          <div class="container">
            <h2>seApp</h2>
            <ul class="event-social">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        
            </ul>
            <p>Copyright &copy; 2021.</a></p>
          </div>
        </div>
      </footer>
      <!-- Footer End here -->
    </div>


    <!-- jQuery -->
    <script src="{% static '/assets/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static '/assets/js/jquery-migrate-1.4.1.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    

    <!--Swiper-->
    <script src="{% static '/assets/js/swiper.jquery.min.js' %}"></script>
    <!--Masonry-->
    <script src="{% static '/assets/js/masonry.pkgd.min.js' %}"></script>
    <!--Lightcase-->
    <script src="{% static '/assets/js/lightcase.js' %}"></script>
    <!--modernizr-->
    <script src="{% static '/assets/js/modernizr.js' %}"></script>

    <!--velocity-->
    <script src="{% static '/assets/js/velocity.min.js' %}"></script>

    <!--quick-view-->
    <script src="{% static '/assets/js/quick-view.js' %}"></script>

    <!--nstSlider-->
    <script src="{% static '/assets/js/jquery.nstSlider.js' %}"></script>
    <script src="{% static '/assets/js/nstfunctions.js' %}"></script>

    <!--flexslider-->
    <script src="{% static '/assets/js/flexslider-min.js' %}"></script>
    <script src="{% static '/assets/js/flexfunctions.js' %}"></script>

    <!--directional-->
    <script src="{% static '/assets/js/directional-hover.js' %}"></script>

    <!--easing-->
    <script src="{% static '/assets/js/jquery.easing.min.js' %}"></script>

    <!-- parallax.js -->
    <script src="{% static '/assets/js/parallax.js' %}"></script>
    <script src="{% static '/assets/js/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom -->
    <script src="{% static '/assets/js/custom.js' %}"></script>

  </body>
</html>