{%load static%}
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark mb-4"
    style="background-color: #000F57CC;">
    
    <a class="navbar-brand" href="/"><img src="{% static '/images/seLogoWhite.png' %}" alt="Example Navbar 1" class="mr-2" height="30"></a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-2" aria-controls="navbarNavDropdown-2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown-2">
      <ul class="navbar-nav mr-auto">

        {%if request.user.role == 'patient'%}
        <li class="nav-item">
          <a class="nav-link" href="#">Appointments</a>
        </li>
        {%endif%}

        {%if request.user.role == 'doctor'%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'seApp:appointmentGetManager'%}">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'seApp:patients'%}">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'seApp:servicesManager'%}">Services</a>
        </li>
        {%endif%}

        {%if request.user.role == 'staff' and request.staff.doctor != None %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'seApp:servicesManager'%}">Services</a>
        </li>
        {%endif%}
      </ul>

      <ul class="navbar-nav">
        {%if request.user.role == 'patient'%}
        <a class="nav-link float-right" href="{% url 'seApp:UserProfile' %}">Profile</a>
        {%endif%}
        {%if request.user.role == 'doctor'%}
        <a class="nav-link float-right" href="{% url 'seApp:DoctorProfile' %}">Profile</a>
        {%endif%}
        {%if request.user.role == 'staff'%}
        <a class="nav-link float-right" href="{% url 'seApp:StaffProfile' %}">Profile</a>
        {%endif%}
        <li class="nav-item float-right"><a class="nav-link" href="{% url 'seApp:logout'%}">Log Out</a></li>
      </ul>
    </div>
  </nav>
