{%  extends 'seApp/main.html' %}
{%block content%}
<style>
  .card{
    min-height: 600px;
  }
</style>
<div class="col-12 col-md-12">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Patients</h1>
      </div>
    </div>
  </section>

  <div class="bg-light py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if patients %}
        {% for patient in patients %}
        <div class="col-12 col-md-6 mb-3">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <h5 class="text-center mb-5">Patient Profile</h5>
                <div class="row">
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Name:</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Gender: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.gender}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Phone: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.phone}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Email: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.email}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Birthdate: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.birth_date}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Medical history: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    {% for medical_history in patient.medical_history %}
                      <p class="card-text">{{medical_history}}</p>
                    {% endfor %}
                  </div>
                </div>
                <a class="btn btn-primary mt-2" href="/doctor/patients/transfer/{{patient.id}}">Transfer Patient</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No patients available</h5>
      {% endif %}
      </div>
    </div>
  </div>

</main>
</div>
{%endblock%}