{%  extends 'seApp/main.html' %}
{%block content%}
<style>
  .card{
    min-height: 600px;
  }
</style>
<div class="col-12 col-md-12">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Transfer Patients</h1>
      </div>
    </div>
  </section>
  <div class="bg-light py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if patient %}
        <div class="col-12 mb-3">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <h5 class="text-center mb-5">Patient Profile</h5>
                <div class="row">
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Name:</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Gender: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.gender}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Phone: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.phone}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Email: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.email}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Birthdate: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text">{{patient.user.birth_date}}</p>
                  </div>
                  <div class="col-6 col-md-6">
                    <p class="card-text h6">Medical history: </p>
                  </div>
                  <div class="col-6 col-md-6">
                    {% for medical_history in patient.medical_history %}
                      <p class="card-text">{{medical_history}}</p>
                    {% endfor %}
                  </div>
                  <div class="col-12">
                    <p class="card-text h5 text-center">Select Doctor</p>
                   
                   
                  </div>
                  <div class="col-12">
                  <form action="/doctor/patients/transfer/{{patient.id}}" method="POST">
                    {% csrf_token %}

                  <div class="col-12">
                    <div class="form-group">
                    <label for="newDoctor">Select Specilization</label>
                    <select class="form-control" name="specialization" onchange="specChange()" id="newDoctorSpec" required>
                      <option selected disabled value="">Choose...</option>
                      {% for spec in specs %}
                          <option>{{spec}}</option>
                      {% endfor %}
                    </select> 
                    </div>

                    {% for spec in specs %}
                      <div class="form-group doctors" id="{{spec}}Doctor" hidden>
                        <label for="newDoctor">Select Doctor</label>
                        <select class="form-control doctordiv" name="doctor" id='{{spec}}' onchange="doctorChange('{{spec}}')" required>
                          <option selected disabled value="">Choose...</option>
                          {% for doctor in doctors %}
                          {% if doctor.specialization == spec and doctor.time_slots != None %}
                            <option value="{{doctor.id}}">{{doctor.user}}</option>
                          {% endif %}
                          {% endfor %}
                          
                        </select> 
                        </div>

                    {% endfor %}

                    {% for doctor in doctors %}
                    {% if doctor.specialization != None and doctor.time_slots != None %}
                      <div class="form-group timeslots" id="{{doctor.id}}Timeslot" hidden>
                        <label for="newDoctor">Select Timeslot</label>
                        <select class="form-control" name="timeslot" id="newDoctorSpec" required>
                          <option selected disabled value="">Choose...</option>
                            {% for timeslot in doctor.time_slots %}
                              <option value="{{forloop.counter}}">{{timeslot}}</option>
                              {% endfor %}
                        </select> 
                        </div>
                    {% endif%}
                    {% endfor %}
                   
                    
                    <div class="col-12 mt-4">
                      <button type="submit" class="btn btn-primary btn-block">Transfer</button>
                  </div>
                  </form>
                </div>


                </div>
              </div>
            </div>
          </div>
      {% else %}
        <p>Patient not found</p>
      {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  function specChange(){
    let spec = document.getElementById('newDoctorSpec').value
    let doctors = ""
    let divs = document.querySelectorAll('.doctors')
    let timeDivs = document.querySelectorAll('.timeslots')
    for (div of timeDivs){
      div.hidden = true
    }
    for (div of divs){
      div.hidden = true
    }
    document.getElementById(`${spec}Doctor`).hidden = false
    
    

  }

  function doctorChange(spec){
    let doctor = document.getElementById(spec).value
    let divs = document.querySelectorAll('.timeslots')
    for (div of divs){
      div.hidden = true
    }
    document.getElementById(`${doctor}Timeslot`).hidden = false
  }
</script>
{%endblock%}