{%  extends 'seApp/main.html' %}
{%block content%}
<div class="col-12">
<main>

  {% if services_list.clinic == None %}
  <div class="bg-light py-2 mb-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
   
        <div class="col-12 col-md-12">
            <div class="card p-3 shadow-md m-4 mt-5">
              <div class="card-body">
                <h5 class="text-center mb-3">Clinic<br><small class="text-muted">If you already belong to a clinic, Please tell the clinic owner to add you</small></h5>
                
                <form action="{% url 'seApp:createNewClinic' %}" method="post">
                  {% csrf_token %}
                
                  <div class="form-group m-2">
                    <label for="newclinicName">Clinic Name</label>
                    <input type="text"  class="form-control" required name="clinicName" required id="newclinicName">
                  </div>

                  
                  <div class="form-group m-2">
                    <label for="newclinicAddress">Clinic Address</label>
                    <input type="text"  class="form-control" required name="clinicAddress" required id="newclinicAddress">
                  </div>
                  <div class="text-center"><button class="btn btn-outline-primary btn-md m-3">Create</button></div>
                  
                </form>
                </div>
              </div>
            </div>
          </div>
    
      </div>
    </div>
  </div>

  
{% else %}
  <div class="bg-light py-2 mb-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
   
        <div class="col-12 col-md-12">
            <div class="card p-3 shadow-md m-4 mt-5">
              <div class="card-body">
                <h5 class="text-center mb-5">Fees</h5>
                <form action="{% url 'seApp:changeFeeDoctor' %}" method="post">
                  {% csrf_token %}
                  <input type="text" value="{{services_list.fees}}" name="fees" class="form-control">
                  <div class="text-center">
                  <button class="btn btn-outline-primary btn-md m-3">Change Fees</button>
                </form>
                </div>
              </div>
            </div>
          </div>
    
      </div>
    </div>
  </div>

{% endif %}

  <div class=" py-2 m-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
   
        <div class="col-12 col-md-12">
            <div class="card p-3 shadow-md m-2">
              <div class="card-body">
                <h5 class="text-center mb-5">Medical Details</h5>
                <form action="{% url 'seApp:changeMedicalDetailsDoctor' %}" method="post">
                  {% csrf_token %}

                  <div class="form-group m-2">
                    <label for="newMedicalId">Add Medical Id</label>
                    <input type="text"  value="{{services_list.medical_id}}" class="form-control" name="medicalId" required id="newMedicalId">
                  </div>
                  
                  
                  <div class="form-group m-2">
                    <label for="newDescription">Add Description</label>
                    <input type="text"  value="{{services_list.description}}" class="form-control" name="description" required id="newDescription">
                  </div>


                  
                  <div class="form-group m-2">
                    <label for="newSpecialization">Choose Specialization</label>
                    <select class="form-control" name="specialization" id="newSpecialization">
                        <option selected disabled>Choose...</option>
                        <option>Podiatrist</option>
                        <option>General Practitioner</option>
                        <option>Pediatrician</option>
                        <option>Endocrinologist</option>
                        <option>Neurologist</option>
                        <option>Rheumatologist</option>
                        <option>Allergist/Immunologist</option>
                        <option>Psychiatrist</option>
                        <option>Nephrologist</option>
                        <option>OB/GYN</option>
                        <option>Pulmonologist</option>
                        <option>Surgeon</option>
                        <option>Emergency Physician</option>
                        <option>Ophthalmologist</option>
                        <option>Oncologist</option>
                        <option>Urologist</option>
                        <option>Otolaryngologist</option>
                        <option>Anesthesiologist</option>
                        <option>Dermatologist</option>
                        <option>Radiologist</option>
                        <option>Gastroenterologist</option>
                        <option>Cardiologist</option>
                        <option>Orthopedist</option>
                    </select>
                  </div>
                  
                 
                  <div class="text-center">
                  <button class="btn btn-outline-primary btn-md m-3">Save Changes</button>
                </form>
                </div>
              </div>
            </div>
          </div>
    
      </div>
    </div>
  </div>
  
  {% if services_list.clinic != None %}

  <div class="bg-light py-2 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col-12 col-md-12">
            <div class="card p-3 shadow-md m-5">
              <div class="card-body">
                <h5 class="text-center mb-5">Timeslots</h5>
                <form action="{% url 'seApp:addTimeslotDoctor' %}" method="post">
                  {% csrf_token %}
                      <div class="form-group">
                          <label for="newTimeSlot">Add timeslots</label>
                          <input type="datetime-local" class="form-control" name="timeslot" required id="newTimeSlot">
                      </div>
                      <div class="text-center mt-2 mb-3 ">
                      
                                    
                                    <button class="btn btn-outline-primary btn-md">Add timeslot</button>

                          </div>
                      </form>
                </form>
               
                <table class="table table-hoverable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Timeslot</th>
                            <th scope="col"></th>
                            <th scope="col">Delete</th>
                        </tr>
                        <tbody>

                          
                            {% for time in services_list.timeslots %}
                            <tr>
                                
                                <th scope="row">{{forloop.counter}}</th>
                                <td colspan="2">{{time}}</td>
                                <td><form action="{% url 'seApp:deleteTimeslotDoctor' %}" method="post">
                                  {% csrf_token %}
                                  <input type="hidden" name="timeslot" value="{{ time|date:"c"}}">
                                  <button class="btn btn-danger btn-sm">Delete</button>
                                </form></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>



              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  {% endif %}
 
</main>

</div>

<script>
  const doctorSpecialization = document.getElementById('newSpecialization')
  doctorSpecialization.value = "{{services_list.specialization}}"
</script>
{%endblock%}