{%  extends 'seApp/main.html' %}
{%block content%}
<main>
  <section class="py-5 text-center container ">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto mt-5 pt-2">
        <h1 class="fw-light">Staff Manager</h1>
        
      </div>
    </div>
  </section>

  <div class="bg-light py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if staff_list %}
        {% for staff in staff_list %}
        <div class="col-12 col-md-12 col-lg-6">
            <div class="card p-3 shadow-md mt-4">
              <div class="card-body">
                <h5 class="text-center mb-5">{{staff.user.name}}</h5>
                <p class="card-text">Staff id: {{staff.id}}</p>
                <p class="card-text">Staff specialization: {{staff.specialization|title}}</p>
                <p class="card-text">Staff phone: {{staff.user.phone}}</p>
                <p class="card-text">Staff email: {{staff.user.email}}</p>
                <p class="card-text">Staff gender: {{staff.user.gender}}</p>
                <p class="card-text">Staff birth date: {{staff.user.birth_date}}</p>
                <div class="text-center">
                  <form action="{% url 'seApp:removeStaff' %}" method="post">
                    {% csrf_token %}
                        
                      <input type="hidden" name="staff" value="{{staff.user.id}}">                
                      <button class="btn btn-outline-danger btn-md">Remove</button>
  
                      
                        </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No Staff available</p>
      {% endif %}
      </div>
    </div>
  </div>

  <div class=" py-5 ">
    <div class="container">
      
        <div class="col-12">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <h5 class="text-center mb-5">Add Staff</h5>
                <form action="{% url 'seApp:addNewStaff' %}" method="post">
                  {% csrf_token %}
                      <div class="form-group">
                          <label for="staff">Choose staff</label>
                         <select class="form-control" name="staff" id="staff">
                           <option disabled selected>Choose...</option>
                           {% for staffNew in staffToBeAdded_list %}
                           <option value="{{staffNew.id}}">{{staffNew.email}}</option>
                           {% endfor %}
                         </select>
                      </div>
                      <div class="text-center mt-2 ">
                      
                                    
                                    <button class="btn btn-outline-primary btn-md">Add Staff</button>

                          </div>
                      </form>
              </div>
            </div>
          </div>
       
    
    </div>
  </div>

</main>

{%endblock%}