{%  extends 'seApp/main.html' %}
{%block content%}
<div class="col-12 col-md-12 mx-5 mt-5">
    <div class="card p-5 shadow-md">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <div class="col-12 col-md-12">
              <h5>Specialization</h5>
            </div>
              <form action="{% url 'seApp:staffPostDetails'%}" method="POST">
                {% csrf_token %}
                  <select name="specialization" class="form-control mb-5" required>
                      <option disabled selected value="">Choose...</option>
                      <option value="lab_specialist">Lab Specialist</option>
                      <option value="nurse">Nurse</option>
                  </select>
                  <button type="submit" class="btn btn-primary">Select</button>
              </form>
          </div>
        </div>
      </div>
    </div>  
  </div>
{%endblock%}

