{%  extends 'seApp/main.html' %}
{%block content%}
  <body class="bg-light">
    <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-8 pt-1">
       
    </div>
      
    </div>
  </header>

  


<main>

  <div class="bg-light py-2 mt-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if appointment %}
        <div class="col-12 col-md-12">
            <div class="card p-5 shadow-md">
              <div class="card-body">
                <h5 class="text-center mb-5">Prescription {{appointment.doctor.specialization}}</h5>
                {% for prescription in appointment.prescription %} 
                    <p class="card-text">{{prescription}}</p>
                {% endfor %}
                <br>
                 
              </div>
            </div>
          </div>
      {% else %}
        <p>Appointment not found</p>
      {% endif %}
      </div>
    </div>
  </div>
               
            
</main>


</body>
{%endblock%}
